/* -- RESET */

* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
select, input, button { -webkit-appearance: none; cursor: pointer; }
ol, ul { list-style: none; }
:focus { outline: none; }


/* -- COLOR PALETTE */
/*i {*/
 /*color: #aec0ce;*/
 /*color: #505b67;*/
 /*color: #a2a9ae;*/
 /*color: #3b4f5e;*/
 /*color: #6a90ab;*/
 /*color: #a0776d;*/
 /*color: #263a4a;*/
/*}*/

/* -- BASE */

html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font: 16px "Open Sans", sans-serif;
    line-height: 1.4;
    color: #505b67;
    background: #fbfbfd;
}

img {
    max-width: 100%;
}

a {
    color: #545863;
}

h1, h3 {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

/* -- LAYOUT */
.container {
    max-width: 720px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 0.5em;
}

#intro {
    padding: 80px 0 20px;
}

#main {
    padding: 40px 0;
    border-top: 1px solid #d6d5da;
    border-bottom: 1px solid #e1e2e7;
    background: #f4f5f9;
    box-shadow: 0 1px 0 0 #ebeaef inset;
}

.rhythm {
    margin: 10px 0 30px;
    overflow: hidden;
    font-weight: bold;
}

.rhythm h1 {
    float: left;
    font-size: 1em;
}

.rhythm .percent {
    float: right;
}

.rhythm .percentage {
    height: 6px;
    overflow: hidden;
    clear: both;
    background: #dfe2e9;
}

.percentage-bar {
    float: left;
    height: 100%;
    background: #a3abbe;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.physical .percentage-bar {
    background: #ef7955;
}

.emotional .percentage-bar {
    background: #4fc281;
}

.intellectual .percentage-bar {
    background: #4b98dc;
}

.dates {
    text-align: center;
}

.date {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.date:hover {
    background: #dfe2e9;
}

.date select {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 0;
    box-shadow: 0 1px 1px 0 #a3abbe inset;
    color: #505b67;
    background: #fbfbfd;
}

.date select:hover, .date select:focus {
    color: #ef7955;
}

.separator {
    padding: 0 10px;
    color: #ef7955;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1;
}

/* -- FOOTER */
#info {
    padding: 20px 0;
    border-top: 1px solid #feffff;
}


/* -- MEDIA QUERIES */
@media only screen and (max-width: 660px) {

    .separator {
        display: block;
    }

    #intro {
        padding-top: 30px;
    }

    #intro h1 {
        text-align: center;
    }

}